.mainGradient {
    background-image: linear-gradient(to right, teal, purple)
}
.hover {
    cursor: pointer;
}
.pushDown {
    position: absolute;
    top: 50%;
}
body {
    background-image: url("./images/Background.jpg")
}